.libraryWrapper {
  padding-top: 0;
  padding: 2rem;
  width: 78%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #faf9ee; /* πολύ ανοιχτό κρεμ */
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(162, 175, 155, 0.3); /* αχνό πράσινο */
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #a2af9b;
  margin-bottom: 1rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.addBtn {
  padding: 0.6rem 1.2rem;
  background-color: #dccfc0; /* απαλή μπεζ/ροζ */
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 1.5rem;
  margin-top: 1em;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(220, 207, 192, 0.7);
}

.addBtn:hover {
  background-color: #a2af9b; /* το πράσινο της παλέτας */
  color: #faf9ee; /* να γίνει πιο φωτεινό το κείμενο */
}

.booksToRender {
  width: 100%;
  min-height: 150px;
  border: 1px solid #eeeeee; /* πολύ ανοιχτό γκρι */
  border-radius: 8px;
  background-color: #faf9ee;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #333;
}
